@page
@model ZamkDb.Pages.Bookings.BookingConfirmModel
@{
}
<h1>Course booking confirmation</h1>

<div class="">
    <h5>Are you sure you want to book this course? - @Model.Booking.CourseId</h5>
    <form method="post">
        <button type="submit" class="btn btn-dark">Yes</button>
        <a class="btn btn-danger" asp-page="/Courses/GetAllCourses">No</a>
    </form>
</div>

